<div class="page_footer">
    <footer>
        <div class="name_group">Ctrl-R &copy 2019</div>
        <div class="footer_container" style="width: 100%; height: 6.21118%; left: 0%; top: 93.7888%;"></div>
        <br>
        <div class="footer_team">
            <li class="element_footer">
                <a href="/index.html#team" class="link">TEAM</a>
            </li>
            <li class="element_footer">
                <a href="/index.html#who" class="link">ABOUT AS</a>
            </li>
            <li class="element_footer">
                <a href="/contact.html" class="link">CONTACT</a>
            </li>
        </div>
        <br>
        <div class="logo">
            <a href="https://adalab.es/" target="_blank">
                <img src="/assets/images/logo-adalab.png" height="45px">
            </a>
        </div>
    </footer>
</div>