<footer>
    <div class="footer_container">
        <div class="footer_item copy">Ctrl-R &copy 2019</div>

        <div class="footer_item footer_team">
            <ul>
                <li class="menu_footer">
                    <a href="#team" class="link">TEAM</a>
                </li>
                <li class="menu_footer">
                    <a href="#who" class="link">ABOUT AS</a>
                </li>
                <li class="menu_footer">
                    <a href="#contact" class="link">CONTACT</a>
                </li>
            </ul>
        </div>

        <div class="footer_item logo">
            <a href="https://adalab.es/" target="_blank">
                <img src="../../assets/images/logo-adalab.png" height="45px">
            </a>
        </div>
    </div>
</footer>