<div id="home" class="hero @@wrapperClass">
    <div class="header__container">
        <div class="container">
            <header class="title_head">
                <h1><a href="./index.html#home" class="title">Ctrl-R</a></h1>
            </header>
            <nav class="menu_nav">
                <ul class="list">
                    <li class="menu_element"><a class="link_m" href="./index.html#team">TEAM</a></li>
                    <li class="menu_element"><a class="link_m" href="./index.html#who">ABOUT US</a></li>
                    <li class="menu_element"><a class="link_m" href="./contact.html">CONTACT</a></li>
                </ul>
            </nav>

        </div>

    </div>
    <div class="claim__container">
        <h2 class="claim">Recycle, Refresh, </br> Reinvent yourself</br>
        </h2>
    </div>

</div>
</div>