<!DOCTYPE html>
</body>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ctrl-r</title>
    <link rel="shortcut icon" href="assets/images/adalabicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">
    <link href="libs/css/fontawesome.css" rel="stylesheet">
    <link href="libs/css/brands.css" rel="stylesheet">
    <link href="libs/css/solid.css" rel="stylesheet">
    <!-- https://fontawesome.com/how-to-use/on-the-web/setup/getting-started -->

</head>

<body>
    <section>
        <partial src="_hero.html"></partial>
    </section>
</body>

</html>