    @import 'core/variables';
    * {
        box-sizing: border-box;
    }
    
    .footer_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 60px 120px;
    }
    
    .footer_item {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    .copy {
        font-family: OpenSans;
        font-size: 14px;
        font-weight: normal;
        color: #b8b8b9;
    }
    
    .menu_footer .link {
        color: #54585a;
        opacity: 0.75;
        line-height: 2;
        font-weight: 600;
        font-size: 14px;
        font-family: $fontsecond;
        display: grid;
        justify-content: center;
        align-items: center;
        &:hover {
            color: #3BDAC7;
            font-size: 15px;
        }
    }
    
    .menu_footer {
        text-decoration: none;
        display: block;
    }
    
    @media (min-width:768px) {
        .footer_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 60px 120px;
            margin: 0 45px;
        }
        .footer_logo {
            grid-row: 2/3;
            padding-bottom: 60px;
            width: 115.9px;
        }
        .footer_team {
            grid-row: span 2;
            width: 100px;
            justify-self: right;
            justify-content: right;
        }
        .copy {
            width: 90px;
            padding-top: 30px;
        }
        .footer_item.copy,
        .footer_item.footer_logo {
            align-items: flex-start;
        }
        .menu_footer .link {
            display: grid;
            justify-content: right;
        }
    }
    /*display: flex;
        flex-direction: column;
        align-items: center;
        
.copy {
    grid-column: span 1;
    grid-row: span 1;
}
.logo_img {
    grid-column: span 1;
    grid-row: span 1;
}
        */
    /*
@media (min-width:768px) {
    .copy {
        grid-column: span 1;
        grid-row: span 1;
    }
    .logo {
        grid-row: span 1;
    }
    .footer_team {
        grid-column: span 1;
        grid-row: span 2;
    }
}*/
    /* .menu_footer .link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }*/