.team_container {
    text-align: center;
    margin: 30px 0;
    @media all and (min-width: 768px) {
        margin: 45px 0 15px 0;
        ;
        margin-bottom: 30px;
    }
}

.team_container {
    text-align: center;
    margin: 30px 0;
}

.title_team {
    color: $colorlight;
    font-size: 24px;
    line-height: 45px;
    font-family: $fontprincipal;
    padding-top: 30px;
    padding-bottom: 15px;
    @media all and(min-width: 768px) {
        padding-top: 45px;
    }
}

.square_container {
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: rotate(45deg);
}

.square {
    background-color: $colorwhite;
    width: 30px;
    height: 30px;
}

.container_sw {
    margin-top: 10%;
    /* padding-bottom: 5%; */
}

.text_team {
    color: $colorsecond;
    font-family: $fontsecond;
    font-size: $sizetext;
    line-height: 24px;
    margin: 0;
    @media all and (min-width: 768px) {
        padding-top: 15px;
    }
}

.link_team {
    position: relative;
    top: -100px;
    @media all and (min-width: 1200px) {
        position: relative;
        top: -80px;
    }
}

.square {
    background-color: $colorwhite;
    width: 30px;
    height: 30px;
    margin-left: calc(50% - 22.5px);
    position: relative;
    top: 15px;
    transform: rotate(45deg);
}

.aside_style {
    background-color: rgba(184, 184, 185, 0.5);
    /*
    para meter un fondo con opacidad solo vale con rgba y no altera el texto encima*/
    .container {
        @media all and (min-width: 768px) {
            display: flex;
            flex-wrap: nowrap;
        }
        @media all and (min-width: 1200px) {
            width: 924px;
            margin: auto;
        }
    }
}

.strength_container,
.weakness_container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.strength_container {
    @media all and (min-width: 768px) {
        margin-right: 15px;
        display: inline-block;
        width: 50%;
        padding-top: 15px;
    }
}

.weakness_container {
    @media all and (min-width: 768px) {
        margin-left: 15px;
        display: inline-block;
        width: 50%;
        padding-top: 15px;
    }
}

.container_sw {
    margin-top: 10%;
    /* padding-bottom: 5%; */
}

.title_sw {
    color: $colortext;
    font-family: $fontprincipal;
    font-weight: medium;
    font-size: 22px;
    line-height: 45px;
}
