/// colors///
$colorprincipal: #1fcfbda6;
$colortext: #099d8d;
$colorlight:#14d9c4;
$colortran:#3BDAC7;
$colorsecond: #54585a;
$colorblack: #000000;
$colorwhite: white;
$colorthird: #b8b8b9;
/// sizes ///
$sizetext: 16px;
$sizetext2: 14px;
